# Default ignored files
/../../itlogia-css-fourth-practice /.idea/shelf/
/../../itlogia-css-fourth-practice /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../itlogia-css-fourth-practice /.idea/httpRequests/
# Datasource local storage ignored files
/../../itlogia-css-fourth-practice /.idea/dataSources/
/../../itlogia-css-fourth-practice /.idea/dataSources.local.xml
